<h1>All products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th> 
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th>Stock</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td class="product_title"><%= link_to "#{product.title}", product_path(product), id: "#{product}" %><td/>
   
       <td><%= print_price(product.price) %></td>
        <td><%= product.description %></td>
        <td><%= image_tag "products/#{product.image_url}" %></td>
        <td><%= product.stock %></td> 
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <p><%= link_to "Create a New Product", new_product_path, id: "new_product" %></p>

